<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  
     <%= render @users %>
     <td><%= image_tag user.avatar.url(:thumb) %></td>
 
</ul>

<%= will_paginate %>