// Variables

// Lisa Frank Color Palette
$pink:          #F83E7F;
$orange:        #ff7602;
$yellow:        #fefa27;
$green:         #509916;
$blue:          #00b2f0;
$plum:          #7c2583;
$purple:        #752a8f;
$black:         #000;
