<footer class="footer">
  <small class= "footer">
    The page <a href="http://www.google.com/">for queries visit</a>
    by <a href="https://www.railstutorial.org/book/">seera sailesh</a>
  </small>
  <nav class= "footer">
    <ul class= "footer">
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>